/* Parrafos */
.parrafo1 {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 247, 232);
    text-decoration: underline;

}

.parrafo2 {
    text-decoration: underline;
}
/* Cuerpo */
body {
    background-color: rgba(78, 107, 114, 0.91);
    
}
/* Divisores */
div {
    background-color: white;
    border-radius: 0.4rem;
    padding: 8px;
    margin-top: 20px;
}

/* Encabezado */
.header1 {
    background-color: rgb(83, 78, 78);
    height: 50px;
    padding: 10px;
    width: 100%;
}

/* Titulos */
.titulo {
    border-bottom: solid grey;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Footers */
.Pie1 {
    background-color: aliceblue;
    height: 20 px;
    color: rgb(121, 134, 134);
    font-style: italic;
}

/* Boxs */
.Caja1 {
    height: 40px;
    border: solid black 2px;
    margin-top: 10px;
    border-radius: 0.4rem;
    background-color: rgba(173, 216, 230, 0.688);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.751);
    padding: 5px;

}

.Caja2 {
    height: 40px;
    margin-top: 10px;
    border-radius: 0.4rem;
    border: solid black 3px;
    background-color: rgba(255, 166, 0, 0.595);
    padding: 5px;
}

/* Relativo y absoluto */
.relativo {
    position: relative;
    background-color: lightblue;
    height: 35px;
    padding: 5px 0px 0px 10px;
    border-radius: 0.4rem;
    margin-bottom: 15px;
}

.absoluto {
    position: absolute;
    background-color: rgb(16, 128, 165);
    text-align: right;
    top: 0%;
    left: 650px;
    border-radius: 0.4rem;
    height: 35px;
    color: rgb(255, 209, 122);
    padding: 1px;
    
}

/* Media Queries en CSS */
@media (max-width: 768px) {
    body {
        background-color: rgba(114, 78, 114, 0.91);
        font-size: 13px;
    }

    header {
        height: 50px;
    }

    div {
        background-color: white;
        border-radius: 0.4rem;
        padding: 8px;
        margin-top: 20px;
    }

    h1 {
        font-size: 15px;
    }

    .absoluto {
        left: 70%;
        margin-right: 20px;
    }

    .grid-conteiner {
        gap: 5rem;
    }

}

/* Grids */
.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-right: 80px;
}

.grid-item {
    background-color: rgba(92, 92, 223, 0.614);

    color: white;
    width: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 0.4rem;

}

/* Animaciones */
.animacion {
    background-color: red;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    border-radius: 0.4rem;
}

.animacion:hover {
    cursor: pointer;
    background-color: yellowgreen;
    transition: 0.6s;
}

.mover {
    background-color: blue;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10rem;
    animation: move 1.5s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0);
    }
}